*{
    padding: 0 ;
    border: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    background-color: hsl(0, 5%, 84%);
}
ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem;
    gap: 2rem;
}
