*{
    padding: 0 ;
    border: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    background-color: hsl(0, 5%, 84%);
}
ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem;
    gap: 2rem;
    font-size: 1.5em;
    list-style: none;
}

li{
    background-color: hsl(0, 5%, 95%);
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
li:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}